<polygon class="content-tile__outer" {{bind-attr points=outerPoints}}/>

<clipPath {{bind-attr id=clip1id}}>
    <polyline {{bind-attr points=innerPoints}}/>
</clipPath>

<g class="content-tile__inner" {{bind-attr clip-path=clip1}}>
    {{#if content.externalLink}}
        <a target="_blank" {{bind-attr xlink:href=content.externalLink}}>
            <image {{bind-attr x=corner.x y=corner.y xlink:href=image width=width height=height}}/>
        </a>
    {{else}}
        <image {{bind-attr x=corner.x y=corner.y xlink:href=image width=width height=height}}/>
    {{/if}}

</g>
